- @lunches_by_date.each do |date, lunches|
  .day{:class => cycle("odd", "even")}
    .date{:id => "#{date.to_s}"}
      = date.to_s
    - lunches.each do |lunch|
      .restaurant{:id => "#{lunch.restaurant.name.gsub(/\s/, "_")}"}
        .restaurant_name
          = lunch.restaurant.name
        %ul
          = lunch.description.html_safe