- @lunches_with_lunch_items.each do |date, lunches|
  .day.row-fluid{:class => date == @lunches_with_lunch_items.keys.first ? 'first_day' : ''}
    .date.span2{:id => "#{date.to_s}"}
      %p.calendar
        %span.wday
          = date.wday_fi.upcase
        = date.mday
        %span.month
          = date.month_fi
    .restaurants.span10
      - lunches.each_slice(4) do |row_of_lunches|
        .row-fluid
          - row_of_lunches.each do |lunch|
            .restaurant.span3{:class => "#{lunch.restaurant.name.gsub(/\s/, '_')}", :id => "lunch_#{lunch.id}"}
              = render(lunch)

      -# Awful hack. Should dynamically create enough rows. This breaks if the amount of non.desc. lunches > 20
      - unless @lunches_without_lunch_items[date].nil?
        .row-fluid.non-desc-lunches
          - @lunches_without_lunch_items[date].each_slice(5) do |row_of_lunches|
            .span3
              - row_of_lunches.each do |lunch|
                .restaurant{:class => "#{lunch.restaurant.name.gsub(/\s/, '_')}", :id => "lunch_#{lunch.id}"}
                  = render(lunch)
