- @lunches_by_date.each do |date, lunches|
  .day
    .date{:id => "#{date.to_s}"}
      = date.to_s
    - lunches.each do |lunch|
      .restaurant{:id => "#{lunch.restaurant.name}"}
        .restaurant_name
          = lunch.restaurant.name
        %ul
          = lunch.description.html_safe