!!! 5
%html
  %head
    %title Lounaat²
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = google_webfonts_link_tag :orbitron
    = google_webfonts_link_tag :share_tech_mono
    = csrf_meta_tags
    %meta{:name => 'description', :content => 'Lounasravintolat Espoon Leppävaaran kauppakeskus Sellon läheisyydessä.'}
    %meta{:name => 'keywords', :content => 'lounas,lounaspaikka,lounasravintola,Sello,Espoo,Leppävaara'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
    = favicon_link_tag

  %body
    - #bloody ugly hack. should just start using bootstrap properly
    %header.jumbotron.container-fluid.hidden-xs
      %h1.smaller
        %span.blue> lan
        %span.red> 4
      %h4
        Max pwnium

    %header.jumbotron.smaller.container-fluid.hidden-sm.hidden-md.hidden-lg
      %h1.smaller
        %span.blue> Lan
        %span.red> 4
      %h4
        Max pwnium


    - if flash[:error]
      #flash-error.flash.container-fluid
        %p.alert.alert-danger= flash[:error]

    #main.container-fluid
      = yield

    %footer.container-fluid
      = link_to 'https://github.com/kkontio/lounaat2' do
        @GitHub
        %i.fa.fa-github
