!!! 5
%html
  %head
    %title Lounaat²
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = google_webfonts_link_tag :mr_dafoe
    = google_webfonts_link_tag :roboto_condensed => [300, 400]
    = csrf_meta_tags
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

  %body
    %header.hero-unit.container-fluid
      %h1
        %span.blue> Lounaat
        %span.red> ²
      %p
        Ante prandium

    .container-fluid
      = yield

    %footer.container-fluid
      = link_to '@Google Code', 'http://code.google.com/p/lepuskilounas/'